<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <display-name>PainCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>photoservlet</display-name>
    <servlet-name>photoservlet</servlet-name>
    <servlet-class>com.JAVA.DAO.photoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoservlet</servlet-name>
    <url-pattern>/photoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DouleurServlet</display-name>
    <servlet-name>DouleurServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.DouleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DouleurServlet</servlet-name>
    <url-pattern>/DouleurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicationServlet</display-name>
    <servlet-name>PublicationServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.PublicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicationServlet</servlet-name>
    <url-pattern>/PublicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentaireServlet</display-name>
    <servlet-name>CommentaireServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.CommentaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentaireServlet</servlet-name>
    <url-pattern>/CommentaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityServlet</display-name>
    <servlet-name>CommunityServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.CommunityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityServlet</servlet-name>
    <url-pattern>/CommunityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PubServlet</display-name>
    <servlet-name>PubServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.PubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubServlet</servlet-name>
    <url-pattern>/PubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityServlet2</display-name>
    <servlet-name>CommunityServlet2</servlet-name>
    <servlet-class>com.JAVA.DAO.CommunityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityServlet2</servlet-name>
    <url-pattern>/CommunityServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityServlet3</display-name>
    <servlet-name>CommunityServlet3</servlet-name>
    <servlet-class>CommunityServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityServlet3</servlet-name>
    <url-pattern>/CommunityServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityServle</display-name>
    <servlet-name>CommunityServle</servlet-name>
    <servlet-class>Community.CommunityServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityServle</servlet-name>
    <url-pattern>/CommunityServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>Community.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/UtilisateurServlet</url-pattern>
  </servlet-mapping>
</web-app>